name: build-on-macos

on:
  workflow_call:

jobs:

  build:

    runs-on: macos-10.15
      
    steps:

    - name: checkout
      uses: actions/checkout@v2

    - name: Get history and tags for SCM versioning to work
      run: |
        git fetch --prune --unshallow
        git fetch --depth=1 origin +refs/tags/*:refs/tags/*

    - name: Install system dependencies
      run: |
        brew install python pygobject3 gtk+3 gtksourceview4 gnome-icon-theme

    - name: Log system package info
      run: |
        echo "### sw_vers ###"
        sw_vers | tee sw_vers.txt
        echo "### uname -a ###"
        uname -a | tee uname_a.txt
        echo "### brew list --versions ###"
        brew list --versions | tee brew_list_versions.txt

        echo "sw_vers.txt" >> files_to_include_in_release.txt
        echo "uname_a.txt" >> files_to_include_in_release.txt
        echo "brew_list_versions.txt" >> files_to_include_in_release.txt

    - name: Install pythonic dependencies
      run: |
        python3 -m venv --system-site-packages venv
        source venv/bin/activate

        pip install --upgrade pip
        pip install wheel
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Log python package info
      run: |
        source venv/bin/activate

        echo "### pip freeze --local ###"
        pip freeze --local | tee pip_freeze_local.txt

        echo "### pip freeze ###"
        pip freeze | tee pip_freeze.txt

        echo "pip_freeze_local.txt" >> files_to_include_in_release.txt
        echo "pip_freeze.txt" >> files_to_include_in_release.txt

    - name: Compile gschemas
      run: |
        glib-compile-schemas .
      working-directory: dtool_lookup_gui

    - name: Package executable with pyinstaller
      run: |
        source venv/bin/activate
        SETUPTOOLS_SCM_DEBUG=1 python setup.py --version  # have version written to file to appear in bundled app as well
        pyinstaller -y ./pyinstaller/dtool-lookup-gui-macos.spec 2>&1 | tee pyinstaller.log
        ls -lh dist
        mv dist/dtool-lookup-gui.app dtool-lookup-gui.app
        echo "dtool-lookup-gui.app" >> files_to_include_in_release.txt

    - name: Pack assets
      run: |
        tar -cvf dtool-lookup-gui-macos.tar \
          dtool-lookup-gui.app \
          files_to_include_in_release.txt \
          sw_vers.txt \
          uname_a.txt \
          brew_list_versions.txt \
          pip_freeze.txt \
          pip_freeze_local.txt \
          pyinstaller.log \
          build/dtool-lookup-gui-macos/*.toc \
          build/dtool-lookup-gui-macos/*.txt \
          build/dtool-lookup-gui-macos/*.html

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: dtool-lookup-gui-macos
        path: dtool-lookup-gui-macos.tar

        if-no-files-found: error
